

body {
    margin: 0;
    padding: 0;
    background-color: rgb(212, 136, 207);
    color: rgb(76, 76, 77);
    font-family: 'Arima';
    font-weight: bolder;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.genre-column {
    display: inline-flex ;
    flex-direction: column;
    text-align: center;
    font-size: 35px;
    margin-top: 5px;


}

.card {
    background-color:  rgba(249, 167, 231, 0.881);
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 170px;
    border-radius: 27px;
    padding: 20px;
    margin: 10px;
    font-size: 70px;
    box-shadow: 3px 3px 3px rgb(233, 236, 239);

}

button {
    margin: 7px;
    padding: 5px;
    background-color: rgb(233, 236, 239);
    border-radius: 5px;
    
    
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(19, 18, 19, 0.24), 0 17px 50px 0 rgba(29, 28, 28, 0.19);

}

#game {
    display: flex;
}

.correct-answer {
    background-color: rgba(119, 228, 166, 0.76);


}

.incorrect-answer {
    background-color: rgba(242, 111, 113, 0.76);
    
}

h1 {
    margin-bottom: 0;
    width: 90%;
    border-style: outset;
    padding: 12px;
    background-color: rgb(233, 236, 239);
    opacity: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px;
    font-size: 50px;
    text-align: center;
 
}

h2 {
    text-shadow: 3px 3px 3px rgba(123, 115, 118, 0.516);
    margin-bottom: 1px;
}

p {
    border-style:solid;
    border-width: 2px;
    padding: 10px;
    background-color: rgb(233, 236, 239);
    border-radius: 15px;
    text-align: center;
    min-width: 7%;
    font-family: 'Arima';
    font-size: larger;
    font-weight: bolder;

}

#reset-button {
    border-style:double;
    padding: 10px;
    background-color: rgb(233, 236, 239);
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    min-width: 7%;
    font-family: 'Arima';
    font-size: larger;
    font-weight: bolder;

}




